<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
<connectionStrings>
    <add name="connectionstring" connectionString="Data Source=DESKTOP-E6EDL0R;Initial Catalog=marks_c45;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>